# üìä Exploratory Data Analysis: Research Publications
**Project Intern/Trainee Hiring Assessment - PAIU-OPSA, IISc Bangalore**

---
**Author:** Omkar Sharma
**Date:** November 2025
**Dashboard Link:** [Insert your Netlify/Streamlit Cloud Link Here]
**Repository:** [Insert your GitHub Link Here]

---
### üìù Objective
The goal of this analysis is to perform an in-depth Exploratory Data Analysis (EDA) on the provided dataset to identify trends, patterns, and anomalies. The insights derived from this notebook will drive the development of an interactive dashboard.

### üìñ Table of Contents
1. [Environment Setup](#setup)
2. [Data Loading & Overview](#loading)
3. [Data Preprocessing & Cleaning](#cleaning)
4. [Exploratory Data Analysis (EDA)](#eda)
    - Univariate Analysis
    - Bivariate Analysis
    - Multivariate Analysis
5. [Key Insights & Conclusion](#conclusion)

## 1. Environment Setup <a id="setup"></a>
Importing necessary libraries for data manipulation, visualization, and statistical analysis.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px # for interactive dashboard
import plotly.figure_factory as ff
import plotly.graph_objects as go
from plotly.subplots import make_subplots  # for dual axis
from scipy import stats

# Configuration for aesthetic charts
sns.set_theme(style='whitegrid')
plt.rcParams['figure.figsize'] = (12,6)

# Hide irrelevent warnings
import warnings
warnings.filterwarnings('ignore')

## 2. Data Loading & Overview <a id="loading"></a>
Loading the dataset and performing a preliminary check to understand the structure, features, and data types.

In [3]:
# Load the dataset
df = pd.read_csv('data/publications.csv')

df.tail() # display last 5 rows
df.head() # display first 5 rows

,Name,Web of Science Documents,Times Cited,Collab-CNCI,Rank,% Docs Cited,Category Normalized Citation Impact,% Documents in Top 1%,% Documents in Top 10%,Documents in Top 1%,Documents in Top 10%,year
0,SWITZERLAND,24154,2705248,0.946748,8,97.93,1.024815,0.89,10.87,97,230,2023
1,CHINA,2185,157320,1.575928,44,99.60,0.900623,2.98,19.26,323,121,2014
2,CHINA,6896,744768,1.032983,42,95.23,1.679004,1.08,11.36,455,662,2013
3,UNITED KINGDOM,2399,177526,1.586585,3,99.21,1.444246,1.63,10.20,98,2463,2005
4,ITALY,10753,301084,0.812773,2,98.35,1.252122,0.81,17.43,440,134,2004

### üìã Data Dictionary
Dataset ke columns aur unka matlab:

| Column Name | Description | Data Type |
| :--- | :--- | :--- |
| **Name** | Name of the Country | `String` |
| **Web of Science Documents** | Total count of research papers published by the country | `Integer` |
| **Times Cited** | Total number of citations received by the published papers | `Integer` |
| **Collab-CNCI** | Category Normalized Citation Impact score for collaborative papers only | `Float` |
| **Rank** | Ranking position of the country | `Integer` |
| **% Docs Cited** | Percentage of documents that have received at least one citation | `Float` |
| **Category Normalized Citation Impact** | Impact score normalized by subject, year, and type (1.0 = World Average) | `Float` |
| **% Documents in Top 1%** | Percentage of papers that are in the global top 1% of most cited papers | `Float` |
| **% Documents in Top 10%** | Percentage of papers that are in the global top 10% of most cited papers | `Float` |
| **Documents in Top 1%** | Absolute count of papers in the global top 1% | `Integer` |
| **Documents in Top 10%** | Absolute count of papers in the global top 10% | `Integer` |
| **year** | The specific year of publication for the data record | `Integer` |

In [4]:
df.shape #to check no. of rows and columns
df.info() #to check missing values and data types
df.describe() #to get statistical summary of numerical data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Name                                 1000 non-null   object
 1   Web of Science Documents             1000 non-null   int64
 2   Times Cited                          1000 non-null   int64
 3   Collab-CNCI                          1000 non-null   float64
 4   Rank                                 1000 non-null   int64
 5   % Docs Cited                         1000 non-null   float64
 6   Category Normalized Citation Impact  1000 non-null   float64
 7   % Documents in Top 1%                1000 non-null   float64
 8   % Documents in Top 10%               1000 non-null   float64
 9   Documents in Top 1%                  1000 non-null   int64
 10  Documents in Top 10%                 1000 non-null   int64
 11  year                                 1000 non-null   int64
dtypes: float64(5), int64(6), object(1)
memory usage: 93.9+ KB

,Web of Science Documents,Times Cited,Collab-CNCI,Rank,% Docs Cited,Category Normalized Citation Impact,% Documents in Top 1%,% Documents in Top 10%,Documents in Top 1%,Documents in Top 10%,year
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000,1000.000000,1000.000000
mean,14861.699000,1.296497e+06,1.214932,24.722000,97.410690,1.291637,1.76760,17.58979,261.327000,1497.457000,2013.860000
std,8390.150609,9.670633e+05,0.230261,14.108145,1.419199,0.234461,0.71711,4.36310,136.904576,844.902713,6.748477
min,512.000000,2.184600e+04,0.800182,1.000000,95.000000,0.900623,0.50000,10.02000,12.000000,111.000000,2003.000000
25%,7616.750000,5.076700e+05,1.029402,12.000000,96.150000,1.087020,1.13000,13.77000,142.000000,736.750000,2008.000000
50%,14711.000000,1.064920e+06,1.214383,25.000000,97.385000,1.292028,1.81000,17.39000,261.500000,1481.000000,2014.000000
75%,22022.250000,1.899791e+06,1.415986,37.000000,98.652500,1.499628,2.39000,21.64000,382.000000,2202.250000,2020.000000
max,29959.000000,4.327668e+06,1.599646,49.000000,99.890000,1.698257,3.00000,24.99000,499.000000,2999.000000,2025.000000

<div class="alert alert-block alert-info">
<b>üßê Initial Observations:</b>
<ul>
    <li>The dataset contains <b>1000</b> rows and <b>12</b> columns.</li>
    <li>There is no any kind of missing values.</li>
    <li>All Datatypes are correct.</li>
</ul>
</div>